<div class="flex-shrink-0 p-3 bg-white text-center float-end mt-5" style="width: 280px;">
  <div class="mb-3">
    <a href="/" class="pb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Blog view options</span>
    </a>
  </div>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
              data-bs-target="#home-collapse" aria-expanded="true">
        Show by period
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a href="{% url 'blog:post_list' %}">Show all posts</a></li>
          <li>
            <a href="{% url 'blog:post_list' %}?period=day">
              Show today's posts
            </a>
          </li>
          <li>
            <a href="{% url 'blog:post_list' %}?period=week">
              Show last 7 days posts
            </a>
          </li>
          <li>
            <a href="{% url 'blog:post_list' %}?period=month">
              Show last 30 days posts
            </a>
          </li>
          <li>
            <a href="{% url 'blog:post_list' %}?period=year">
              Show current year posts
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
              data-bs-target="#dashboard-collapse" aria-expanded="false">
        Personal blog
      </button>
      <div class="collapse" id="dashboard-collapse" style="">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li class="mt-3">
            <a href="" class="link-dark rounded text-decoration-none">
              Add post
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>