<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  {% for post in posts %}
  <div style="padding: 10px;">
    <h1>{{ post.title }}</h1>
    {{ post.publish }} {{post.author}}
    <p>{{post.body}}</p>
    <a href="/posts/{{post.slug}}" >read</a>
  </div>
  {% endfor %}
</body>

</html>